$primary-color: #f2d41e;
$secondary-color: #2ac1ec;
$default-color: #17dce3;
$dream-white: #f6f8f9;
$dream-black: #130423;
$dream-blue: #b9dee2;

body {
  color: $dream-black;
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}
