$primary-color: #f2d41e;
$secondary-color: #2ac1ec;
$default-color: #17dce3;
$dream-white: #f6f8f9;
$dream-black: #130423;
$dream-blue: #b9dee2;
$gradient-mix: linear-gradient(to right, $primary-color, $secondary-color);

body {
  color: $dream-black;
}

@mixin dream-gradient {
  background: $gradient-mix;
}

@mixin transistion-ease-300 {
  transition: all ease-out 300ms;
}

@mixin btn-border {
  border-radius: 5px;
}

@mixin centered-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin gradient-btn {
  a {
    color: $dream-white;
    background-image: $gradient-mix;
    background-size: 200%;
    background-position: left;
    transition: background-position 1s;
    @include btn-border;
  }

  a:hover {
    // color: $dream-black;
    // filter: brightness(90%);
    background-position: right;
  }
}

@mixin primary-btn {
  a {
    color: $dream-white;
    background: $primary-color;
    border: 2px solid $primary-color;
    @include btn-border;
    @include transistion-ease-300;

    &:hover {
      background: $dream-white;
      color: $dream-black;
    }
  }
}

@mixin secondary-btn {
  a,
  button {
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    border: 0;
    @include btn-border;
    @include transistion-ease-300;

    &:hover {
      background: $dream-white;
      color: $dream-black;
      cursor: pointer;
    }
  }
}

@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    height: 7px;
  }

  &::-webkit-scrollbar-track {
    background-color: $dream-white;
    border-radius: 10px;

    &:hover {
      background-color: darken($dream-white, 3);
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: darken($dream-blue, 3);
    border: 1px solid $dream-white;
    border-radius: 10px;

    &:hover {
      background-color: darken($dream-blue, 10);
    }
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1440px) {
    @content;
  }
}
