@import "config";
@import "navbar";

.container {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  background: #fff;
}

a {
  text-decoration: none;
}

a:visited,
a:active {
  color: #000;
}

li {
  list-style: none;
}

.main-body {
  width: calc(100vw - 3rem);
  margin: 0 auto;
  min-height: 90vh;
  padding: 4rem 0rem;
}

header,
footer {
  padding: 1rem 1.2rem;
  font-weight: 600;
  font-size: 1.1rem;
}

footer {
  border-top: 1px solid $dream-blue;
}

.footer__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  &-logo {
    width: 30%;
  }

  &-text {
    width: 70%;
    text-align: center;

    a {
      color: $primary-color;
      transition: color 300ms ease-in;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

@include media-md {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@include media-lg {
  .main-body {
    padding: 5rem 0;
  }
}

@include media-xl {
  .main-body {
    max-width: 1400px;
  }
}
