@import "config";

.header__container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &-title {
    height: 25px;
    img {
      height: 100%;
      transform: translateY(-15%);
    }
  }
}

.menu-btn {
  position: relative;
  cursor: pointer;

  &__burger {
    position: absolute;
    top: 0.5rem;
    right: 0.4rem;
    width: 30px;
    height: 2px;
    background: $default-color;
    @include transistion-ease-300;

    &::before {
      content: "";
      position: absolute;
      top: -0.4rem;
      width: 30px;
      height: 2px;
      background: $default-color;
      @include transistion-ease-300;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0.4rem;
      width: 30px;
      height: 2px;
      background: $default-color;
      @include transistion-ease-300;
    }

    &.open {
      background: transparent;

      &::before {
        transform: rotate(45deg) translate(4px, 3px);
      }

      &::after {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }
  }
}

.navbar {
  position: fixed;
  top: 41px;
  right: 0;
  width: 80vw;
  visibility: hidden;
  z-index: 10;

  &.open {
    visibility: visible;
  }

  &__menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(4px);
    text-transform: uppercase;
    padding: 2rem 0;
    transform: translateX(200%);
    transition: all 500ms ease-in;

    &.open {
      transform: translateX(0);
    }

    a.active {
      color: $primary-color;
    }

    &-item {
      width: 100%;
      padding: 1rem 0;

      text-align: center;

      @include transistion-ease-300;

      &:hover {
        background-color: $dream-blue;
      }

      &:active {
        background-color: $default-color;
      }
    }
  }
}

@include media-md {
  .header__container-title {
    height: 42px;
    img {
      height: 100%;
      transform: translateY(0);
    }
  }

  .navbar {
    position: static;
    visibility: visible;
    width: 100%;

    border-top: 0;

    &__menu {
      flex-direction: row;
      height: 100%;
      width: 100%;
      background-color: transparent;
      box-shadow: none;
      backdrop-filter: none;
      text-transform: none;
      padding: 0;
      transform: translateX(0);

      a {
        padding: 0.5rem 1rem;
        @include transistion-ease-300;
      }

      a:hover {
        color: $secondary-color;
      }

      a.active {
        color: $secondary-color;
      }

      &-item {
        padding: 0.5rem 0;

        &:hover,
        &:active {
          background-color: #fff;
        }
      }
    }
  }

  .menu-btn {
    display: none;
  }

  .header__container-title {
    padding: 0.5rem 1rem;
  }
}

@include media-xl {
  .header__container {
    max-width: 1440px;
  }
}
