@import "config";

.container {
  margin: 0 auto;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

a:visited,
a:active {
  color: #000;
}

li {
  list-style: none;
}

.main-body {
  // width: calc(100% - 10vw);
  width: 85%;
  margin: 0 auto;
  min-height: 90vh;
}

header {
  padding: 1rem 1.2rem;
  // font-size: 0.8rem;
  font-weight: 600;
  font-size: 1.1rem;
  border-bottom: 1px solid black;
}

.header__container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.mobile-nav {
  position: relative;
  width: 1.5rem;
  height: 2px;
  background-color: red;
  border: none;
}

.mobile-nav::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 1.5rem;
  height: 2px;
  background-color: red;
  border: none;
}

.navbar__items {
  display: none;
}

@include media-lg {
  .header__container {
    max-width: 1600px;
    margin: 0 auto;
  }

  .main-body {
    max-width: 1550px;
  }

  .mobile-nav {
    display: none;
  }

  .navbar__items {
    display: flex;
    // gap: 1.5rem;
    width: 100%;

    a {
      padding: 0.5rem 1rem;
      border-radius: 5px;
      transition: all ease-out 200ms;
      // border: 1px green solid;
    }

    a:hover {
      background-color: gray;
      color: white;
    }

    a:active {
      padding: 0.3rem 0.8rem;
    }

    a.active {
      background-color: red;
    }
  }
}
