@import "../../../components/styles/config";

.recommended__section {
  width: 100%;
  margin: 5rem 0;
  padding: 2rem 0;

  background: $dream-blue;

  h1 {
    color: $dream-white;
    margin-bottom: 2rem;
    text-align: center;
  }

  &-items {
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow-x: scroll;
  }
}

.full-background {
  box-shadow: 0 0 0 100vmax $dream-blue;
  clip-path: inset(0 -100vmax);
}

@include media-md {
  .recommended__section {
    margin: 5rem 0 10rem;

    h1 {
      font-size: 3rem;
      text-align: left;
    }
  }
}

@include media-lg {
  .recommended__section {
    h1 {
      font-size: 4rem;
    }

    &-items {
      @include custom-scrollbar;
    }
  }
}

@include media-xl {
  .recommended__section {
    h1 {
      font-size: 5rem;
    }
  }
}
