body {
  color: #130423;
}

.dashboard__main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}
.dashboard__main-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dashboard__main-text p {
  color: #b9dee2;
}
.dashboard__main-search {
  position: relative;
  width: 256px;
  margin: 0 auto;
}
.dashboard__main-search input {
  width: 100%;
  padding: 12px 20px;
  border-radius: 25px;
  border: 1px solid #2ac1ec;
}
.dashboard__main-search .search-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #2ac1ec solid;
  border-radius: 25px;
  padding: 0.5rem;
  background: #f2d41e;
  color: #2ac1ec;
  transition: background-color 300ms ease-out;
}
.dashboard__main-search .search-icon:hover {
  background: #17dce3;
}

.reading-list h1 {
  text-align: center;
  margin-bottom: 1rem;
}
.reading-list h2 {
  height: 60px;
  font-size: 1rem;
}
.reading-list p {
  font-size: 0.8rem;
  text-align: center;
  margin: 1rem 0;
}

.rl__collection {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem 0;
}

.rl__item {
  background: #f6f8f9;
  padding: 1rem;
  margin: 0 0 1rem;
  border-radius: 2px;
  border: 1px solid #17dce3;
  transition: all ease-out 300ms;
}
.rl__item:hover {
  transform: translateY(-0.3rem);
}
.rl__item img,
.rl__item .image-wrapper {
  width: 120px;
  height: 180px;
}
.rl__item-wrapper {
  width: 256px;
  height: 330px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 4px 3px #ccf8fa;
  text-align: center;
}

.rl__buttons {
  display: flex;
  gap: 1rem;
}
.rl__buttons a,
.rl__buttons button {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  transition: all ease-out 300ms;
}
.rl__buttons a:hover,
.rl__buttons button:hover {
  background: #f6f8f9;
  color: #130423;
}
.rl__buttons a {
  border: 2px #17dce3 solid;
  background: #17dce3;
  color: #f6f8f9;
  font-weight: 600;
}
.rl__buttons button {
  border: 2px #130423 solid;
  background-color: #130423;
  color: #f6f8f9;
  font-weight: 500;
}

.results__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 5rem;
}
.results__wrapper-item {
  background: #f6f8f9;
  padding: 1rem;
  margin: 0 0 1rem;
  border-radius: 2px;
  border: 1px solid #17dce3;
  transition: all ease-out 300ms;
}
.results__wrapper-item:hover {
  transform: translateY(-0.3rem);
}

.dashboard__results {
  width: 256px;
  padding: 1rem 0;
  border-radius: 10px;
  margin: 0 auto 1rem;
  background: green;
}
.dashboard__results button {
  padding: 0.5rem 1rem;
  background: #2ac1ec;
  color: #f2d41e;
  border: 0;
  border-radius: 20px;
}
.dashboard__results-item img,
.dashboard__results-item .image-wrapper {
  width: 100px;
  height: 150px;
}
.dashboard__results-item .search__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  border-bottom: 1px #2ac1ec solid;
}
.dashboard__results-item .search__text h2,
.dashboard__results-item .search__text p {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  width: 100%;
  padding: 0.5rem;
}
.dashboard__results-item .search__text h2 {
  height: 50px;
  font-size: 1rem;
  font-weight: 500;
}
.dashboard__results-item .search__text p {
  height: 30px;
  font-size: 0.9rem;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .dashboard__main-text h1 {
    font-size: 1.5rem;
  }
  .dashboard__main-text p {
    font-size: 1.1rem;
  }
  .dashboard__main-search {
    width: 400px;
  }
  .rl__collection,
  .results__wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
  .rl__item {
    margin: 0 0 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .rl__collection,
  .results__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=dashboard.css.map */