body {
  color: #130423;
}

@keyframes gradient-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
body {
  color: #130423;
}

@keyframes gradient-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.recommended__section {
  width: 100%;
  margin: 5rem 0;
  padding: 2rem 0;
  background: #b9dee2;
}
.recommended__section h1 {
  color: #f6f8f9;
  margin-bottom: 2rem;
  text-align: center;
}
.recommended__section-items {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-x: scroll;
}

.full-background {
  box-shadow: 0 0 0 100vmax #b9dee2;
  -webkit-clip-path: inset(0 -100vmax);
          clip-path: inset(0 -100vmax);
}

@media screen and (min-width: 768px) {
  .recommended__section {
    margin: 5rem 0 10rem;
  }
  .recommended__section h1 {
    font-size: 3rem;
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .recommended__section h1 {
    font-size: 4rem;
  }
  .recommended__section-items::-webkit-scrollbar {
    height: 7px;
  }
  .recommended__section-items::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }
  .recommended__section-items::-webkit-scrollbar-thumb {
    background-color: #aed9de;
    border: 1px solid #f6f8f9;
    border-radius: 10px;
  }
  .recommended__section-items::-webkit-scrollbar-thumb:hover {
    background-color: #95cdd3;
  }
}
@media screen and (min-width: 1440px) {
  .recommended__section h1 {
    font-size: 5rem;
  }
}
body {
  color: #130423;
}

@keyframes gradient-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.rl__collection {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem 0;
}

@media screen and (min-width: 768px) {
  .rl__collection {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .rl__collection {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
body {
  color: #130423;
}

@keyframes gradient-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.book,
.book__pg-shadow,
.book__pg {
  animation: cover 7s ease-in-out infinite;
}

.book {
  background-color: hsl(223, 90%, 65%);
  border-radius: 0.25em;
  box-shadow: 0 0.25em 0.5em hsla(0, 0%, 0%, 0.3), 0 0 0 0.25em hsl(223, 90%, 55%) inset;
  padding: 0.25em;
  perspective: 37.5em;
  position: relative;
  width: 8em;
  height: 6em;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
}
.book__pg-shadow, .book__pg {
  position: absolute;
  left: 0.25em;
  width: calc(50% - 0.25em);
}
.book__pg {
  animation-name: pg1;
  background-color: hsl(223, 10%, 100%);
  background-image: linear-gradient(90deg, hsla(223, 10%, 90%, 0) 87.5%, hsl(223, 10%, 90%));
  height: calc(100% - 0.5em);
  transform-origin: 100% 50%;
}
.book__pg-shadow {
  animation-name: shadow;
  background-image: linear-gradient(-45deg, hsla(0, 0%, 0%, 0) 50%, hsla(0, 0%, 0%, 0.3) 50%);
  filter: blur(0.25em);
  top: calc(100% - 0.25em);
  height: 3.75em;
  transform: scaleY(0);
  transform-origin: 100% 0%;
}
.book__pg--2, .book__pg--3, .book__pg--4 {
  background-image: repeating-linear-gradient(hsl(223, 10%, 10%) 0 0.125em, hsla(223, 10%, 10%, 0) 0.125em 0.5em), linear-gradient(90deg, hsla(223, 10%, 90%, 0) 87.5%, hsl(223, 10%, 90%));
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.5em 4.125em, 100% 100%;
}
.book__pg--2 {
  animation-name: pg2;
}
.book__pg--3 {
  animation-name: pg3;
}
.book__pg--4 {
  animation-name: pg4;
}
.book__pg--5 {
  animation-name: pg5;
}

@keyframes cover {
  from, 5%, 45%, 55%, 95%, to {
    animation-timing-function: ease-out;
    background-color: hsl(223, 90%, 65%);
  }
  10%, 40%, 60%, 90% {
    animation-timing-function: ease-in;
    background-color: hsl(223, 90%, 45%);
  }
}
@keyframes shadow {
  from, 10.01%, 20.01%, 30.01%, 40.01% {
    animation-timing-function: ease-in;
    transform: translate3d(0, 0, 1px) scaleY(0) rotateY(0);
  }
  5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
    animation-timing-function: ease-out;
    transform: translate3d(0, 0, 1px) scaleY(0.2) rotateY(90deg);
  }
  10%, 20%, 30%, 40%, 50%, to {
    animation-timing-function: ease-out;
    transform: translate3d(0, 0, 1px) scaleY(0) rotateY(180deg);
  }
  50.01%, 60.01%, 70.01%, 80.01%, 90.01% {
    animation-timing-function: ease-in;
    transform: translate3d(0, 0, 1px) scaleY(0) rotateY(180deg);
  }
  60%, 70%, 80%, 90%, to {
    animation-timing-function: ease-out;
    transform: translate3d(0, 0, 1px) scaleY(0) rotateY(0);
  }
}
@keyframes pg1 {
  from, to {
    animation-timing-function: ease-in-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(0.4deg);
  }
  10%, 15% {
    animation-timing-function: ease-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(180deg);
  }
  20%, 80% {
    animation-timing-function: ease-in;
    background-color: hsl(223, 10%, 45%);
    transform: translate3d(0, 0, 1px) rotateY(180deg);
  }
  85%, 90% {
    animation-timing-function: ease-in-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(180deg);
  }
}
@keyframes pg2 {
  from, to {
    animation-timing-function: ease-in;
    background-color: hsl(223, 10%, 45%);
    transform: translate3d(0, 0, 1px) rotateY(0.3deg);
  }
  5%, 10% {
    animation-timing-function: ease-in-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(0.3deg);
  }
  20%, 25% {
    animation-timing-function: ease-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(179.9deg);
  }
  30%, 70% {
    animation-timing-function: ease-in;
    background-color: hsl(223, 10%, 45%);
    transform: translate3d(0, 0, 1px) rotateY(179.9deg);
  }
  75%, 80% {
    animation-timing-function: ease-in-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(179.9deg);
  }
  90%, 95% {
    animation-timing-function: ease-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(0.3deg);
  }
}
@keyframes pg3 {
  from, 10%, 90%, to {
    animation-timing-function: ease-in;
    background-color: hsl(223, 10%, 45%);
    transform: translate3d(0, 0, 1px) rotateY(0.2deg);
  }
  15%, 20% {
    animation-timing-function: ease-in-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(0.2deg);
  }
  30%, 35% {
    animation-timing-function: ease-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(179.8deg);
  }
  40%, 60% {
    animation-timing-function: ease-in;
    background-color: hsl(223, 10%, 45%);
    transform: translate3d(0, 0, 1px) rotateY(179.8deg);
  }
  65%, 70% {
    animation-timing-function: ease-in-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(179.8deg);
  }
  80%, 85% {
    animation-timing-function: ease-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(0.2deg);
  }
}
@keyframes pg4 {
  from, 20%, 80%, to {
    animation-timing-function: ease-in;
    background-color: hsl(223, 10%, 45%);
    transform: translate3d(0, 0, 1px) rotateY(0.1deg);
  }
  25%, 30% {
    animation-timing-function: ease-in-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(0.1deg);
  }
  40%, 45% {
    animation-timing-function: ease-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(179.7deg);
  }
  50% {
    animation-timing-function: ease-in;
    background-color: hsl(223, 10%, 45%);
    transform: translate3d(0, 0, 1px) rotateY(179.7deg);
  }
  55%, 60% {
    animation-timing-function: ease-in-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(179.7deg);
  }
  70%, 75% {
    animation-timing-function: ease-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(0.1deg);
  }
}
@keyframes pg5 {
  from, 30%, 70%, to {
    animation-timing-function: ease-in;
    background-color: hsl(223, 10%, 45%);
    transform: translate3d(0, 0, 1px) rotateY(0);
  }
  35%, 40% {
    animation-timing-function: ease-in-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(0deg);
  }
  50% {
    animation-timing-function: ease-in-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(179.6deg);
  }
  60%, 65% {
    animation-timing-function: ease-out;
    background-color: hsl(223, 10%, 100%);
    transform: translate3d(0, 0, 1px) rotateY(0);
  }
}
h1 {
  color: transparent;
  background-image: linear-gradient(to right, #f2d41e, #2ac1ec);
  background-size: 200%;
  -webkit-background-clip: text;
          background-clip: text;
  animation: gradient-animation 10s infinite alternate;
}

.dashboard__main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}
.dashboard__main-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dashboard__main-text p {
  color: #b9dee2;
}
.dashboard__main-search {
  position: relative;
  width: 256px;
  margin: 0 auto;
}
.dashboard__main-search input {
  width: 100%;
  padding: 12px 20px;
  background-color: #f6f8f9;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #f2d41e, #2ac1ec) border-box;
  border: 3px solid transparent;
  border-radius: 25px;
  outline: none;
}
.dashboard__main-search input:focus {
  background-color: #fff;
}
.dashboard__main-search ::-moz-placeholder {
  color: #130423;
  opacity: 1;
}
.dashboard__main-search ::placeholder {
  color: #130423;
  opacity: 1;
}
.dashboard__main-search .search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 7px;
  right: 7px;
  border: 1px #2ac1ec solid;
  border-radius: 25px;
  padding: 0.5rem;
  background: #f2d41e;
  color: #2ac1ec;
  transition: all ease-out 300ms;
}
.dashboard__main-search .search-icon:hover {
  background-color: #f6f8f9;
  cursor: pointer;
}
.dashboard__main-results {
  margin-bottom: 10rem;
}

.reading-list h1 {
  text-align: center;
  margin-bottom: 1rem;
}
.reading-list p {
  font-size: 0.8rem;
  text-align: center;
  margin: 1rem 0;
}

.results__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1rem;
}

.clearSearch-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clearSearch-btn a,
.clearSearch-btn button {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border: 0;
  border-radius: 5px;
  transition: all ease-out 300ms;
}
.clearSearch-btn a:hover,
.clearSearch-btn button:hover {
  background: #f6f8f9;
  color: #130423;
  cursor: pointer;
}
.clearSearch-btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  background: #130423;
  color: #f6f8f9;
}

.loading-animation {
  height: 30vh;
  display: grid;
  place-items: center;
  font-size: calc(16px + 8 * (100vw - 320px) / 960);
}

@media screen and (min-width: 768px) {
  .dashboard__main-text h1 {
    font-size: 4rem;
    font-weight: 700;
  }
  .dashboard__main-text p {
    font-size: 1.5rem;
    margin: 0 0 2.5rem;
  }
  .dashboard__main-search {
    width: 500px;
  }
  .dashboard__main-results {
    margin-bottom: 5rem;
  }
  .reading-list h1 {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: left;
    margin: 4rem 0 3rem;
  }
  .results__wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .dashboard__main-text h1 {
    font-size: 5rem;
  }
  .dashboard__main-search {
    width: 600px;
  }
  .results__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .reading-list h1 {
    font-size: 5rem;
  }
}/*# sourceMappingURL=dashboard.css.map */