body {
  color: #130423;
}

.dashboard__main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}
.dashboard__main-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dashboard__main-text p {
  color: #b9dee2;
}
.dashboard__main-search {
  position: relative;
  width: 256px;
  margin: 0 auto;
}
.dashboard__main-search input {
  width: 100%;
  padding: 12px 20px;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #f2d41e, #2ac1ec) border-box;
  border: 3px solid transparent;
  border-radius: 25px;
}
.dashboard__main-search ::-moz-placeholder {
  color: #130423;
  opacity: 1;
}
.dashboard__main-search ::placeholder {
  color: #130423;
  opacity: 1;
}
.dashboard__main-search .search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 7px;
  right: 7px;
  border: 1px #2ac1ec solid;
  border-radius: 25px;
  padding: 0.5rem;
  background: #f2d41e;
  color: #2ac1ec;
  transition: all ease-out 300ms;
}
.dashboard__main-search .search-icon:hover {
  background-color: #f6f8f9;
  cursor: pointer;
}
.dashboard__main-results {
  margin-bottom: 10rem;
}

.reading-list h1 {
  text-align: center;
  margin-bottom: 1rem;
}
.reading-list p {
  font-size: 0.8rem;
  text-align: center;
  margin: 1rem 0;
}

.rl__collection {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem 0;
}

.results__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1rem;
}

.clearSearch-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clearSearch-btn a,
.clearSearch-btn button {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border: 0;
  border-radius: 5px;
  transition: all ease-out 300ms;
}
.clearSearch-btn a:hover,
.clearSearch-btn button:hover {
  background: #f6f8f9;
  color: #130423;
  cursor: pointer;
}
.clearSearch-btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  background: #130423;
  color: #f6f8f9;
}

.recommended__section {
  width: 100%;
  height: 40%;
  margin-top: 5rem;
}
.recommended__section h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}
.recommended__section-items {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-x: scroll;
}

@media screen and (min-width: 768px) {
  .dashboard__main-text h1 {
    font-size: 4rem;
    font-weight: 700;
  }
  .dashboard__main-text p {
    font-size: 1.5rem;
    margin: 0 0 2.5rem;
  }
  .dashboard__main-search {
    width: 500px;
  }
  .dashboard__main-results {
    margin-bottom: 5rem;
  }
  .reading-list h1 {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: left;
    margin: 4rem 0 3rem;
  }
  .rl__collection,
  .results__wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .dashboard__main-text h1 {
    font-size: 5rem;
  }
  .dashboard__main-search {
    width: 600px;
  }
  .rl__collection,
  .results__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .reading-list h1 {
    font-size: 5rem;
  }
}/*# sourceMappingURL=dashboard.css.map */