@import "../../../components/styles/config";
@import "recommendedSection";
@import "readingList";
@import "loadingAnimation";

h1 {
  @include gradient-text;
}

.dashboard__main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;

  &-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
      color: $dream-blue;
    }
  }

  &-search {
    position: relative;
    width: 256px;
    margin: 0 auto;

    input {
      width: 100%;
      padding: 12px 20px;
      background-color: $dream-white;
      background: linear-gradient(#fff, #fff) padding-box,
        $gradient-mix border-box;
      border: 3px solid transparent;
      border-radius: 25px;
      outline: none;

      &:focus {
        background-color: #fff;
      }
    }

    ::placeholder {
      color: $dream-black;
      opacity: 1;
    }

    .search-icon {
      @include centered-flex;

      position: absolute;
      top: 7px;
      right: 7px;

      border: 1px $secondary-color solid;
      border-radius: 25px;
      padding: 0.5rem;
      background: $primary-color;
      color: $secondary-color;
      @include transistion-ease-300;

      &:hover {
        background-color: $dream-white;
        cursor: pointer;
      }
    }
  }

  &-results {
    margin-bottom: 10rem;
  }
}

.reading-list {
  h1 {
    text-align: center;
    margin-bottom: 1rem;
  }

  p {
    font-size: 0.8rem;
    text-align: center;
    margin: 1rem 0;
  }
}

.results__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1rem;
}

.clearSearch-btn {
  @include secondary-btn;
  @include centered-flex;

  button {
    @include centered-flex;
    gap: 0.8rem;

    background: $dream-black;
    color: $dream-white;
  }
}

.loading-animation {
  height: 30vh;
  display: grid;
  place-items: center;
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}

@include media_md {
  .dashboard__main {
    &-text {
      h1 {
        font-size: 4rem;
        font-weight: 700;
      }

      p {
        font-size: 1.5rem;
        margin: 0 0 2.5rem;
      }
    }

    &-search {
      width: 500px;
    }

    &-results {
      margin-bottom: 5rem;
    }
  }

  .reading-list {
    h1 {
      font-size: 3.5rem;
      font-weight: 700;
      text-align: left;
      margin: 4rem 0 3rem;
    }
  }

  .results__wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}

@include media_lg {
  .dashboard__main {
    &-text {
      h1 {
        font-size: 5rem;
      }
    }

    &-search {
      width: 600px;
    }
  }

  .results__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .reading-list {
    h1 {
      font-size: 5rem;
    }
  }
}
