@import "../../../components/styles/config";

.landing__section {
  display: flex;
}

.landing__text {
}

.landing__image {
  width: 80%;
  height: 80%;
  //   object-fit: contain;

  img {
    object-fit: contain;
    width: 80%;
    height: 80%;
  }
}

.landing__top-text {
}

.landing__button {
}

.landing__final-text {
}
