@import "../../../components/styles/config";

.landing__section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &-image {
    height: 30vh;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    @include gradient-btn;

    h1 {
      font-size: 1.4rem;
      font-weight: 700;

      span {
        color: $primary-color;
        text-decoration: underline $secondary-color 5px;
      }
    }

    h3 {
      font-size: 0.7rem;
      font-weight: 500;
    }

    p {
      color: $dream-blue;
      font-size: 0.8rem;
      font-weight: 400;
    }

    a {
      @include centered-flex;
      gap: 10px;

      font-weight: 600;

      width: 150px;
      height: 40px;
    }
  }
}

.button-icon {
  width: 20px;
  height: 20px;
}

@include media-md {
  .landing__section {
    flex-direction: row;

    &-image {
      height: 70vh;
      width: 80%;

      img {
        object-fit: cover;
        width: 100%;
      }
    }

    &-text {
      width: 100%;
      padding: 0 3rem;
      gap: 0;
      justify-content: space-around;

      h1 {
        font-size: 1.6rem;
      }

      h3 {
        font-size: 0.9rem;
      }

      p {
        font-size: 1rem;
      }

      a {
        width: 180px;
        height: 50px;
        font-size: 1.1rem;
      }
    }
  }
}

@include media-lg {
  .landing__section {
    &-text {
      justify-content: space-evenly;

      h1 {
        font-size: 1.8rem;
      }

      h3 {
        font-size: 1.1rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }
}
