@import "../../../components/styles/config";

.landing__section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.landing__image {
  height: 30vh;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.landing__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;

  h1 {
    font-size: 1.4rem;
    font-weight: 700;
  }

  h3 {
    font-size: 0.7rem;
    font-weight: 500;
  }

  p {
    font-size: 0.8rem;
    font-weight: 400;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background: $primary-color;
    color: $secondary-color;
    font-weight: 600;

    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: 2px solid $primary-color;
    transition: all ease-out 300ms;
  }

  button:hover {
    background-color: $default-color;
    color: $primary-color;
  }
}

.button-icon {
  width: 20px;
  height: 20px;
}

@include media-md {
  .landing__section {
    flex-direction: row;
  }
}
